@page
@model ESMS.Pages.Payments.WagesExecutionModel
@{
    ViewData["Title"] = "WagesExecution";
}

<h1>WagesExecution</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Input.file" />
    <button type="submit">Ngarko</button>
</form>