@page
@model ErrorModel
@{
    ViewData["Title"] = Resource.error;
}

<h1 class="text-danger">@Resource.error</h1>
<h2 class="text-danger">@Resource.errorText</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Resource.requestId</strong> <code>@Model.RequestId</code>
    </p>
}
