@page
@model ChangePasswordModel
@using ESMS
@{
    ViewData["Title"] = Resource.perditesimiFjalekalimit;
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div id="alertPart">
    <div id="alertMetaData" class="sufee-alert alert with-close alert-dismissible fade show d-none">
        <h4><i class="" id="alertIcon" aria-hidden="true"></i> <b id="alertTitle"></b> </h4>
        <h5 id="alertText">
        </h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@Resource.perditesoFjalekalimi</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script type="text/javascript">
    function showAlert(messagetype, text) {
        $('#alertMetaData').removeClass('d-none');
        $('#alertText').text(text);
        switch (messagetype) {
            case 1:
                //Success
                $('#alertIcon').addClass('far fa-thumbs-up')
                $('#alertMetaData').addClass('alert-success')
                $('#alertTitle').text("Sukses!");
                break;
            case 2:
                //Info
                $('#alertIcon').addClass('fas fa-info-circle')
                $('#alertMetaData').addClass('alert-primary')
                $('#alertTitle').text("Info!");
                break;
            case 3:
                //Warning
                $('#alertIcon').addClass('fas fa-exclamation-triangle')
                $('#alertMetaData').addClass('alert-warning')
                $('#alertTitle').text("Kujdes!");
                break;
            case 4:
                //Error
                $('#alertIcon').addClass('fas fa-times')
                $('#alertMetaData').addClass('alert-danger')
                $('#alertTitle').text("Gabim!");
                break;
        }
    }
</script>

@if (bool.Parse(TempData["changePassword"].ToString()) == true)
{
    <script>
        showAlert(2, "Duhet të ndryshoni fjalëkalimin për të vazhduar më tutje.")
    </script>
}