@page
@model AccessDeniedModel
@using ESMS
@{
    Layout = "_LoginLayout";
}

<header>
    <h1 class="text-danger">@Resource.accessDeniedTitle</h1>
    <p class="text-danger">@Resource.accessDenied</p>
</header>
