@page
@model ConfirmEmailModel
@using ESMS
@{
        Layout = "_LoginLayout";
}

<h1>@Resource.emailConfirmationTitle</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<h4>Për tu kyqur në sistem klikoni në linkun: <a href='@Url.Page("Index")'>ESMS</a></h4>