@page
@model ForgotPasswordConfirmation
@using ESMS
@{
    ViewData["Title"] = Resource.forgotPasswordConfir;
        Layout = "_LoginLayout";
}

<h1>@ViewData["Title"]</h1>
<p>
    @Resource.forgotPasswordTitle
</p>

