@page
@model ResetPasswordConfirmationModel
@using ESMS
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_LoginLayout";
}

<h1>@ViewData["Title"]</h1>
<p>
    @Resource.resetPasswordSuccess <a asp-page="./Login"> @Resource.clickHereToLogIn </a>.
</p>
